/*Añadimos una linea al css*/
body{
    padding: 0;
    margin: 0;
}
/* estilo para la cabecera*/

header{
    display: flex;
    justify-content: center;

}
.secction-header{ 
    width: 1000px;
    height: 85px;
    display: flex;
    border: solid rgb(223, 223, 223);
    border-width: 0 0 1px 0;
    padding: 3px 0;
    
}
@media (max-width: 1000px) {
    .secction-header {
      padding: 3px 20px!important;
      height: 50px;
    }
   
  }

.avatar{
    width: 40px;
    cursor: pointer;
    border: solid 2px transparent;
    border-radius:50px;
    
}
.avatar:hover{
    border-color: hsl(26, 100%, 55%);
}
.site-logo{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
   
}
.menu-movil-icon{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    padding-top: 5px;
    display: none;
}
#menu-movil-aside{
    z-index: 999;
    max-width: 767px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    bottom: 0;
    left:-767px;
    right: 0;    
    transition: all 500ms linear;

}
.mostrar-aside{
  
    left:0!important;
    
}
.sub-content{
    padding: 20px 0 0 20px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
.sub-content ul{
    margin: 30px 0;
    padding: 0;
    list-style: none;
}
.sub-content ul li{
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
}

.carrito-cuenta{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#carrito-icon{
    cursor: pointer;
}
#indicador{
    position: absolute;
    background-color: hsl(26, 100%, 55%);
    width: 20px;
    height: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    padding-top: 1px;
    top: calc(4%);
    margin-left: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    
}
/*estilo para el bropdown del carrito*/
.carrito-cuenta .drop-carrito{
    
    position: absolute;
    width: 350px;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: none;
    -webkit-box-shadow: 0px 12px 26px 5px rgba(196,196,196,0.41); 
    box-shadow: 0px 12px 26px 5px rgba(196,196,196,0.41);
    border-radius: 5px;
    transition: all ease-out 1s;
}
.mostrar-carrito{
    display: block!important;
    opacity: 1;
    top: 90px!important;
    
}

.carrito-cuenta .titulo-carrito{
    border: solid rgb(223, 223, 223);
    border-width: 0 0 1px 0;
    padding: 20px;
}
.carrito-cuenta .titulo-carrito h3{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
}
.carrito-cuenta .carrito-vacio{
    padding: 50px;
}
.carrito-cuenta .carrito-vacio h3{
   text-align: center;
   font-family: 'Kumbh Sans', sans-serif;
   font-size: 14px;
   font-weight: 400;
}
.carrito-cuenta .div-btn-check{
    display: flex;
    justify-content: center;
}
.ocultar-product-cart{
    display: none!important;
}
.carrito-cuenta .contenido-carrito{
    padding: 20px;
}
.carrito-cuenta .contenido-carrito .productos-cart{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    column-gap: 15px;
}

.contenido-carrito .img-cart{
    width: 50px;
    border-radius: 5px;
}
.drop-carrito .borrar{
    display: flex;
    justify-content: end;
    cursor: pointer;
}
#borrar-p:hover{
    opacity: 0.7;
}
.drop-carrito .title-cart-p{
    font-family: 'Kumbh Sans', sans-serif;
    margin:-5px 0 7px 0;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
}
.drop-carrito .info-precio{
    display: flex;
    flex-direction: row;
}
.drop-carrito .info-precio h5{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0 2px;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
}
.drop-carrito .info-precio .sub-total{
    color: hsl(218, 7%, 30%)!important;
    font-weight: 700!important;
}
#btn-check{
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color:hsl(26, 100%, 55%);
    color: #fff;
    padding: 12px 70px;
    border-radius: 5px;
    line-height: 1.5 rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    
}

.nav-menu{
    width: 80%;
    height: 100%;
    align-items: center;
    display: flex;
}
.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
    height: 100%;
    column-gap: 15px;
    
}
.menu-principal{
    height: 100%;
}
@media (min-width: 767px) {
    .flechas-destok{
        display: none!important;
    }
}
@media (max-width: 767px) {
    .menu-principal {
      display: none!important;
    }
    .nav-menu{
        width: 30%;
    }
    .menu-movil-icon{
        display: flex;
        margin-right: 15px;
    }
    .avatar{
        width: 30px;
        margin-left: 30px;
        padding-bottom: 3px;
    }
    #indicador{
        top:calc(1%)!important;
    }
    .mostrar-carrito{
        left: calc(4%);
        top: calc(12%)!important;
    }
  }
.menu-item{
    height: 100%;
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color:  hsl(220, 14%, 75%);
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.menu-item:hover{
    border: solid hsl(26, 100%, 55%);
    border-width: 0 0 3px 0;
    color: rgb(75, 75, 75);
    cursor: pointer;
}
/* estilo para el contenido*/

.content-full{
    display: flex;
    justify-content: center;
}
.section-2{
    width: 900px;
    padding: 70px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 767px){
    .section-2 .col-2{
        padding: 20px!important;
    }
    .section-2{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .section-2 .col-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-2 .col-1 .img-principal{
        border-radius: 0!important;
        width: 100%!important;
        height: 60vh!important;
        max-width: 450px!important;
    }
    .section-2 .col-1 .grid-thumbnail{
        display: none!important;
    }
    .section-2 .col-2 .name-company{
        font-size: 11px!important;
        margin: 0!important;
        padding-bottom: 10px;
    }
    .section-2 .col-2 .product-title{
        font-size: 7vw!important;
        margin: 0!important;
        padding-bottom: 10px;
    }
    .section-2 .col-2 .product-text{
        margin: 0!important;
        padding-bottom: 20px;
    }
    .section-2 .col-2 .option-add{
        display: flex!important;
        flex-direction: column;
        row-gap: 20px;
    }
    #btn-add{
        width: 100%!important;
    }
    .section-2 .col-2 .real-price{
        grid-area: 1/3!important;
        text-align: end;
    }

}
.section-2 .col-1{
    width: 100%;
}
.section-2 .col-1 .img-principal{
    width: 450px;
    height: 450px;
    background-image: url(images/image-product-1.jpg);
    background-size: cover;
    border-radius: 20px;
    cursor: pointer;
}
.flechas-destok{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flechas-destok div{
    background-color: #fff;
    width: 36px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
 .flechas-destok .arrow-prev{
    padding: 4px 8px 4px 4px;
    margin-left: 10px;
}
.flechas-destok .arrow-next{
    padding: 4px 4px 4px 8px;
    margin-right: 10px;
}
.section-2 .col-1 .grid-thumbnail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    width: 450px;
    margin-top: 20px;
    cursor: pointer;
}

.grid-thumbnail .img-thumb img{
    width: 100px;
    border-radius: 15px;
} 
.section-2 .col-2{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 80px;
    width: auto;
}
.section-2 .col-2 .name-company{
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(26, 100%, 55%);
    font-size: 1.3vw;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
}
.section-2 .col-2 .product-title{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    margin: 10px 0;
}
.section-2 .col-2 .product-text{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    color:   hsl(219, 9%, 45%);
    margin: 30px 0 20px 0;
}
.section-2 .col-2 .precio-content{
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
    align-items: center;
}
.section-2 .col-2 .product-price{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
    margin: 0 20px 0 0;
}
.section-2 .col-2 .discount-percentage{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    background-color: hsl(25, 100%, 94%);
    padding: 3px 7px;
    border-radius: 5px;
    color: hsl(26, 100%, 55%);
    width: 20px;
}
.section-2 .col-2 .real-price{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 10px 0;
    color: hsl(216, 15%, 74%);
    text-decoration: line-through;
    grid-area: 2;
}

.tumb-active{
    background-color: hsla(0, 0%, 100%, 0.486);
    position: absolute;
    width: 97px!important;
    height: 97px!important;
    border-radius: 15px;
    border: solid 2px hsl(26, 100%, 55%) ;
}
.tumb-active2{
    background-color: hsla(0, 0%, 100%, 0.486);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.section-2 .col-2 .option-add{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 40px 0;
    column-gap: 20px;
}
.section-2 .col-2 .div-cantidad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    background-color:  hsl(223, 64%, 98%);
    justify-content: space-between;
    height: 48px;
    padding: 0 10px;
    border-radius: 5px;
}
.section-2 .col-2 .div-cantidad h4{
    margin: 0 10px;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: rgb(43, 43, 43);
}
.section-2 .col-2 .div-cantidad button{
    border: none;
    background-color: transparent;
}
.section-2 .col-2 .div-cantidad button:hover{
    opacity: 0.7;
}

#btn-minus{
    margin-bottom: 5px;
    cursor: pointer;
}
#btn-plus{
    cursor: pointer;
}

#btn-add{
    width: 105%;
    cursor: pointer;
    border: none;
    background-color:hsl(26, 100%, 55%);
    color: #fff;
    padding: 12px 60px;
    border-radius: 5px;
    line-height: 1.5 rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    -webkit-box-shadow: 0px 22px 50px -4px rgba(255,125,26,0.36); 
    box-shadow: 0px 22px 50px -4px rgba(255,125,26,0.36);
}
#btn-add::before{
    content: url(images/icon-cart.svg);
    filter: brightness(2.5);
    margin-right: 10px;    
}
#btn-add:hover{
    margin-top: -5px;
    opacity: 0.7;
    transition: all linear 0.2s;
}

/*diseño de la caja de luz*/

#lightBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom:-49%;
}
.ocultar-lb{
   display: none!important;
}
#lightBox .cerrar{
    width: 450px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    filter: invert(59%) sepia(50%) saturate(3704%) hue-rotate(347deg) brightness(103%) contrast(101%);
    cursor: pointer;
}

#lightBox .lb-img-principal{
    width: 450px;
    height: 400px;
    background-image: url(images/image-product-1.jpg);
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
}
#lightBox .lb-img-principal .flechas{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


#lightBox .lb-img-principal .flechas div{
    background-color: #fff;
    width: 36px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
#lightBox .lb-img-principal .flechas .arrow-prev{
    padding: 7px 11px 7px 7px;
    margin-left: -20px;
}
#lightBox .lb-img-principal .flechas .arrow-next{
    padding: 7px 7px 7px 11px;
    margin-right: -20px;
}
#lightBox .lb-img-principal .flechas img:hover{
    filter: invert(59%) sepia(50%) saturate(3704%) hue-rotate(347deg) brightness(103%) contrast(101%);
    cursor: pointer;
}


#lightBox .grid-thumbnail-lb{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    width: 450px;
    margin-top: 20px;
    cursor: pointer;
}
#lightBox .grid-thumbnail-lb img{
    width: 100px;
    border-radius: 15px;
}
